<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div className="container text-center">
        <h3 >Customer List</h3>
        <a to='/add'> Add new</a>
        
            <Form>
                <Field name="names" type="text" />
                <button type="submit">search</button>
            </Form>
        </Formik>
        <table className="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>1</th>
                    <th>1</th>


                </tr>
            </thead>
            <tbody>
               
                
            </tbody>
        </table>
    </div>
</body>
</html>